body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#ccc;
}

h1{
    font-size:8vh;
    color:#444;
}

.canvas{
    width:576px;
    height:576px;
    display:flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px #777;
}
button{
    width:30vh;
    height: 4vh;
    font-size:3vh;
    border-radius: 10%;
    padding:0px;
    color:#444;
    background-color:#ccc;
}
input{
    width:20vh;
    height:20vh;
    border:none;
    padding: 0;
}

.toolbar{
    display:flex;
    flex-direction:column;
    color:#444;
    align-items: center;
    gap:3vh;
}
.sketch{
    display:flex;
    flex-direction:row;
    gap:10vh;
}

button.selected{
    background-color:#444;
    color:#ccc;

}